@using Electronic_document_management.Models;
@using System.Security.Claims;

@model User;

@{
    Layout = "_Layout";
    ViewBag.Title = "Profile page";
}
<table>
    <caption>Профиль</caption>
    <tr>
        <td>Логин</td>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <td>Имя</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Фамилия</td>
        <td>@Model.Surname</td>
    </tr>
    <tr>
        <td>Почта</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Отдел</td>
        <td>@Model.Department.Name</td>
    </tr>
    <tr>
        <td>Роль</td>
        <td>@Model.Role</td>
    </tr>
        @{
            if (User.FindFirst(ClaimTypes.NameIdentifier)?.Value == Model.Id.ToString())
            {
            <tr>
                <td><a href="@Model.Id/password">Изменить пароль</a></td>
                <td><a href="@Model.Id/email">Изменить почту</a></td>
            </tr>
            }
        }
</table>