@using Electronic_document_management.Models;

@model User

@{
    Layout = "_Layout";
    ViewBag.Title = "Profile page";
}
<table>
    <caption>Профиль</caption>
    <tr>
        <td>Логин</td>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <td>Имя</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Фамилия</td>
        <td>@Model.Surname</td>
    </tr>
    <tr>
        <td>Отдел</td>
        <td>@Model.Department?.Name</td>
    </tr>
    <tr>
        <td>Роль</td>
        <td>@Model.Role</td>
    </tr>
</table>