@using Electronic_document_management.Models;

@model IEnumerable<Document>;
@{
    ViewBag.Title = "Documents page";
    Layout = "_Layout";
}

<a href="docs/create">Добавить документ</a>
<form asp-action="SearchDoc" asp-controller="Docs" method="post" enctype="multipart/form-data">
    <p>
        <label>Текст для поиска</label>
        <input type="text" name="searchText" /><br>
    </p>
    <input type="submit" value="Поиск" />
</form>
<table>
    <caption>Документы</caption>
    <tr>
        <th>№</th>
        <th>Название</th>
        <th>Автор</th>
        <th>Отдел</th>
        <th>Дата создания</th>
        <th>Статус</th>
    </tr>
    @{
        int i = 0;
        foreach (var doc in Model)
        {
            <tr>
                <td>@(++i)</td>
                <td><a href="docs/@doc.Id">@doc.Name</a></td>
                <td><a href="profile/@doc.AuthorId">@doc.Author.UserName</a></td>
                <td><a href="groups/@doc.Author.DepartmentId">@doc.Author.Department.Name</a></td>
                <td>@doc.Created</td>
                <td>@doc.Status</td>
            </tr>
        }
    }
</table>